.error-main {
    width: 60%;
    height: 30%;
    position: absolute;
	top:0;
	bottom: 0;
	left: 0;
    right: 0;
    background-color: #b3cfdd;
    border-radius: 1%;
  	
	margin: auto;
}

body {
    background-image: url('http://localhost/seminarska/assets/image.jpg');
}

.background {
    background-image: url('http://localhost/seminarska/assets/image.jpg');
    height: 100%;
    width: 100;
}