.main {
    width: 75%;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: 70px;
    background-color: #b3cfdd;
    border-radius: 1%;
    position: relative;
}

.no-content {
    text-align: center;
}

body {
    background-image: url('http://localhost/seminarska/assets/grid_background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
   background-color: #f4f2f1 ;
 }

 .pagination-bar {
     position: absolute;
     right: 1%;
     margin: 0;
     bottom: 5px;
 }
