.header-back {
    height: 450px;
    width: 100%;
    /*background-image: linear-gradient(to bottom, #0b0b0c,  #0b0b0c, #0b0b0c, #0b0b0c, #0b0b0c,#10215A);
*/}

.header-img {
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}